cmd/node/node
cmd/node/.b7s_*
cmd/node/*.yaml
cmd/b7s-node-docs/b7s-node-docs

cmd/keygen/keygen
cmd/keyforge/keyforge
cmd/bootstrap-limiter/bootstrap-limiter

dist/
runtime/
*.env
__debug*
.b7s_*
*.exe
.vscode/